<mat-list fxLayout="column" fxLayoutGap="1em">
  <h3 mat-subheader fxLayout="row" fxLayoutAlign="space-between">
    Permission Configuration
  </h3>
  <mat-list-item *ngFor="let permission of value | keyvalue">
    <mat-form-field disabled>
      <mat-label>Command</mat-label>
      <input matInput value="{{permission.key}}" disabled/>
    </mat-form-field>
    <mat-form-field class="permission-field">
      <mat-label>Mode</mat-label>
      <mat-select required name="permission" [value]="permission.value.Mode"
                  (selectionChange)="changePermission(permission.key, $event)">
        <mat-option *ngFor="let mode of permissionModes" [value]="mode">
          {{mode}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <app-array-form-field [values]="permission.value.Selected" fxFlex="1 1 auto" *ngIf="hasSelectedMode(permission.key)"
                          label="selected">
    </app-array-form-field>
  </mat-list-item>
</mat-list>
