<mat-form-field [class]="class" appearance="standard">
  <mat-label>{{label}}</mat-label>
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let val of values" (removed)="remove(val)">
      {{val}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input matInput required [disabled]="disabled" [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)"/>
  </mat-chip-list>
  <mat-hint>{{hint}}</mat-hint>
  <mat-error>{{getError()}}</mat-error>
</mat-form-field>
