<div id="login-container">
  <mat-form-field id="login-code" appearance="outline" fxFill>
    <mat-label>Authentication Code</mat-label>
    <input #codeInput matInput (keyup.enter)="connect(codeInput.value)" value="{{code}}"/>
    <mat-hint>Obtained from starting the Bot - Format: xxxx-xxxx-xxxx</mat-hint>
    <button mat-icon-button color="primary" (click)="connect(codeInput.value)" matSuffix>
      <mat-icon>link</mat-icon>
    </button>
  </mat-form-field>
</div>