.nav-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

mat-toolbar {
  border-bottom: 1px solid rgba(155, 155, 155, .6);
  position: sticky;
  top: 0;
  z-index: 1000;
}

mat-action-list {
  height: 100%;
  padding: 0;
}

button {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.nav-side {
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}