<div class="nav-container" fxLayout="column" fxLayoutAlign="stretch">
  <mat-sidenav-container fxFlex="1 1 auto">
    <mat-sidenav mode="side" opened class="nav-side">
      <mat-action-list fxLayout="column">
        <button mat-list-item fxLayout="row" fxLayoutAlign="center center" *ngIf="(connected | async)"
                matTooltip="{{status == botStatus.Stopped ? 'Click to Stop' : 'Click to Start'}}"
                matTooltipPosition="right"
                (click)="toggleState()">
          <mat-icon *ngIf="status == botStatus.Stopped"
                    color="primary">play_arrow
          </mat-icon>
          <mat-icon *ngIf="status == botStatus.Running" color="primary">
            pause
          </mat-icon>
          <mat-icon *ngIf="status == botStatus.Unknown" color="primary">
            stop
          </mat-icon>
        </button>
        <mat-divider *ngIf="(connected | async)"></mat-divider>

        <button mat-list-item routerLink="/log" *ngIf="(connected | async)" matTooltip="Message Log"
                matTooltipPosition="right">
          <mat-icon color="primary">notes</mat-icon>
        </button>

        <button mat-list-item routerLink="/settings" *ngIf="(connected | async)" matTooltip="Settings"
                matTooltipPosition="right">
          <mat-icon color="primary">settings</mat-icon>
        </button>

        <span fxFlex="1 1 auto" *ngIf="(connected | async)"></span>

        <mat-divider></mat-divider>
        <button mat-list-item routerLink="/login" *ngIf="(connected | async)" matTooltip="Change Authentication"
                matTooltipPosition="right">
          <mat-icon color="primary">account_circle</mat-icon>
        </button>
        <button mat-list-item routerLink="/login" *ngIf="(connected | async) === undefined" matTooltip="Login"
                matTooltipPosition="right">
          <mat-icon color="primary">link</mat-icon>
        </button>
        <button mat-list-item routerLink="/logout" color="primary" *ngIf="(connected | async)" matTooltip="Logout"
                matTooltipPosition="right">
          <mat-icon color="primary">link_off</mat-icon>
        </button>
      </mat-action-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
