mat-paginator, mat-header-cell {
  position: sticky;
  bottom: 0;
}

.log-container {
  height: 100%;
  overflow: auto;
}

mat-table {
  height: 100%;
  overflow: inherit;
}

.mat-column-Body {
  overflow: auto;
}

.DEBUG {
  opacity: .5;
  background-color: rgba($color: grey, $alpha: .2);
}

.ERROR {
  background-color: rgba($color: red, $alpha: .2);
}

.WARNING {
  background-color: rgba($color: yellow, $alpha: .2);
}
