<div class="log-container" fxLayout="column">
  <mat-table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Body">
      <mat-cell *matCellDef="let element">
        <app-logentry [event]="element"></app-logentry>
      </mat-cell>
    </ng-container>

    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="row.Level" fxLayout="row"></mat-row>
  </mat-table>
  <mat-paginator style="position: sticky;" [pageSizeOptions]="[15, 50, 100]" showFirstLastButtons></mat-paginator>
</div>