.container {
  height: 100%;
}

.full-field {
  width: 100%;
  margin-bottom: 1em;
}

#permissions {
  flex-direction: row;
}

#action-bar {
  position: sticky;
  bottom: 0;
  z-index: 1000;

  border-top: 1px solid rgba(155, 155, 155, .3);
  background-color: white;

  padding: 1em;
}