<mat-accordion displayMode="flat">
  <form [formGroup]="configForm">
    <mat-expansion-panel *ngIf="config.ConnectionConfig != null" formGroupName="ConnectionConfig" expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Connection Configuration
        </mat-panel-title>
        <mat-panel-description>
          Connection information for Twitch
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="full-field" appearance="outline">
        <mat-label>Connection Url</mat-label>
        <input matInput formControlName="URL" required/>
        <mat-hint>Url to use to connect to twitch</mat-hint>
        <mat-error>{{getConnectionUrlError()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-field" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="Username" required/>
        <mat-hint>Username to use for the bot to login to twitch</mat-hint>
        <mat-error>{{getConnectionUsernameError()}}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-field" appearance="outline">
        <mat-label>Authentication Token</mat-label>
        <input [type]="hideAuthToken ? 'password' : 'text'" matInput formControlName="Token" required/>
        <button mat-icon-button matSuffix (click)="hideAuthToken = !hideAuthToken" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hideAuthToken">
          <mat-icon>{{hideAuthToken ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint>Authentication token starting with "oauth:" obtained through <a href="https://twitchapps.com/tmi/"
                                                                                  target="_blank">Twitchapps TMI</a>
        </mat-hint>
        <mat-error>{{getConnectionTokenError()}}</mat-error>
      </mat-form-field>

      <app-array-form-field
        class="full-field"
        formControlName="Channels"
        appearance="outline"
        label="Channels"
        hint="Comma separated list of Channels to join and listen to commands to"
      >
      </app-array-form-field>

      <mat-form-field class="full-field" appearance="outline" *ngIf="config.MessagingConfig != null">
        <mat-label>Messaging Rate Mode</mat-label>
        <mat-select formControlName="MessageRate" required>
          <mat-option *ngFor="let mode of messageRateModes" [value]="mode">
            {{mode}}
          </mat-option>
        </mat-select>
        <mat-hint>Message Rates explained <a href="https://dev.twitch.tv/docs/irc/guide">on Twitch Developers site</a>.
          Possible values: USER, KNOWN, VERIFIED
        </mat-hint>
        <mat-error>{{getConnectionMessageRateError()}}</mat-error>
      </mat-form-field>

      <mat-action-row>
        <button mat-button (click)="reset()">Undo</button>
        <button mat-button color="primary" [disabled]="!saveEnabled" (click)="submit()">Save</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel *ngIf="config.CommandConfig != null" formGroupName="CommandConfig">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Command Configuration
        </mat-panel-title>
        <mat-panel-description>
          Configuration for the commands provided by the Bot
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="full-field" appearance="outline">
        <mat-label>Global Cooldown</mat-label>
        <input matInput required formControlName="GlobalCooldown"/>
        <span matSuffix>ms</span>
        <mat-hint>Cooldown after every command before triggering is allowed again</mat-hint>
        <mat-error>{{globalCooldownError()}}</mat-error>
      </mat-form-field>

      <app-permissions formControlName="Permissions">
      </app-permissions>
      <mat-action-row>
        <button mat-button (click)="reset()">Undo</button>
        <button mat-button color="primary" [disabled]="!saveEnabled" (click)="submit()">Save</button>
      </mat-action-row>
    </mat-expansion-panel>
  </form>
</mat-accordion>
